[build-system]
requires = [
  "numpy==1.17.5; python_version=='3.7'",
  "numpy==1.17.5; python_version=='3.8'",
  "numpy>=1.19,<1.20; python_version=='3.9'",
  "scipy >= 1.6",
  "setuptools",
  "wheel",
  "cython",
]

[tool.black]
line-length = 80
